# Server Announcements
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/your_webhook_here"

# Sync Folder
SHARED_CLOUD_FOLDER="G:\My Drive\Palworld_Squad_Sync"

# User Memory (Leave empty initially, app will fill it)
PLAYER_NAME=""

# Security (Leave blank if you don't want a password)
SERVER_PASSWORD=""

# Enable or Disable Cloud Logging (true/false)
LOGGING="true"